# Auto detect text files and perform LF normalization
* text=auto

jailbreak/scripting/include/* linguist-vendored
jailbreak_firstday/scripting/include/* linguist-vendored
jailbreak_map/scripting/include/* linguist-vendored
